       @import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Orbitron:wght@400..900&display=swap');
       .orbitron {
            font-family: "Orbitron", sans-serif;
            /* font-optical-sizing: auto; */
            font-weight: 900;
            font-style: normal;
            margin: 0;
            padding: 0;
        }
        .normal{
            font-weight: 600;
        }

html {
    display: table;
    margin: auto;
    width: 100vh;
}
body{
    background-color: #006992ff;
    margin: 0;
     display: table-cell;
    /* overflow-x: hidden; */
}

div {
    width: 8em;
    height: 10em;
    float: left;
      /* display: flex; */ 
  /* flex-wrap: wrap; */
  /* flex-flow: row wrap; */
        }



        .div22 {
            width: 16em;
            height: 20em;
        }
        .div21 {
            width: 16em;
            height: 10em;
        }
        .div14 {
            width: 4em;
            height: 20em;
        }
        .div15 {
            width: 3.2em;
            height: 20em;
        }

        .div31 {
            width: 24em;
            height: 10em;
        }
        .div32 {
            width: 24em;
            height: 20em;
        }
        
        .div433 {
            width: 4.8em;
            height: 30em;
        }
        .div33 {
            width: 24em;
            height: 30em;
        }
        .div41 {
            width: 32em;
            height: 10em;
            
        }
        .div42 {
            width: 32em;
            height: 20em;
        }
        .div43 {
            width: 32em;
            height: 30em;
        }
        .div53 {
            width: 40em;
            height: 30em;
        }
        .div61 {
            width: 48em;
            height: 10em;
        }
        .div64 {
            width: 48em;
            height: 40em;
        }

        .hugedif {
            width: 64em;
            height:0em;
        }

        .purp {
            background-color: #59114dff;
        }

        .purpt {
            color: #59114dff;
        }

        .blue {
            background-color: #006992ff;
        }

        .bluet {
            color: #006992ff;
        }

        .green {
            background-color: #074f57ff;
        }

        .greent {
            color: #074f57ff;
        }

        .orange {
            background-color: #ff715bff;
        }

        .oranget {
            color: #ff715bff;
        }

        .plat {
            background-color: #d8dbe2ff;
        }

        .platt {
            color: #d8dbe2ff;
        }

        .teal {
            background-color: #3BA99C;
        }

        .tealt {
            color: #3BA99C;
        }

        .red {
            background-color: #a53860ff;
        }

        .redt {
            color: #a53860ff;
        }

        p {
            margin: 0;
            border: 0;
            padding: 0;
            text-align: center;
        }
        h1{
            font-size: 4.4rem;
            text-align: center;
            line-height: .9;
        }
        .tenrem{
            font-size: 10rem;
            text-align: center;
            line-height: .9;
        }
        .sevenrem{
            font-size: 7rem;
            text-align: center;
            line-height: .9;
        }
        .fiverem{
            font-size: 5rem;
            text-align: center;
            line-height: .9;
        }
        .fourrem{
            font-size: 4.0rem;
            text-align: center;
            line-height: 0.8;
        }
        .fourthreerem{
            font-size: 4.3rem;
            text-align: center;
            line-height: 0.8;
        }
        .threerem{
            font-size: 3rem;
            text-align: center;
            line-height: .9;
        }
        .threefiverem{
            font-size: 3.4rem;
            text-align: center;
            line-height: .9;
        }
        .tworem{
            font-size: 2.4rem;
            text-align: center;
            line-height: 1.1;
        }
        .opacity20{
            opacity: 0.2;
        }
        .opacity40{
            opacity: 0.4;
        }
        .opacity60{
            opacity: 0.6;
        }
        .hidden{
            visibility: hidden;
        }
        .vertical {
/* font-size: 3rem; */
  text-orientation: sideways; 
  writing-mode: sideways-lr;
}
a{
    text-decoration: none;
    display: block;
}
.left{
    float: left;
    padding-left: .3rem;
}
.rightmargin
{
    margin-left: -.5rem;
}
.topmargin{
    margin-top: .5rem;
}
.alignright{
    text-align: right;
}
.marginright{
    margin-right: .5rem;
}
.topmarginsmall{
    margin-top: .5rem;
}
.topmarginbig{
    margin-top: 8.5rem;
}
a:hover{
    color: #d8dbe2ff;
}
